h1:nth-child(1){color: blue;font-size: 36px;
    font-family: 'Garamond', serif;}

div>h2:nth-child(1){text-align: left; font-family:Verdana;font-size: 1.2em}
div>h2:nth-child(2){text-align: right;font-family:Courier;font-size: 1.2em}

